nav {
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 350px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #00ff55;
    display: block;
    margin: 2;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/aboutbackground.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.section {
    width: auto;
    min-height: auto;
}

.container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 30px;
}

.content-section {
    float: left;
    width: 55%;
    padding: 1%;
    color: rgb(170, 170, 170)
}

.image-section {
    float: right;
    width: 40%;
    margin-right: 30px;
}

.image-section img {
    padding-top: 10px;
    width: 570px;
    height: auto;
    margin-top: 30px;
}

.content-section .title {
    text-transform: uppercase;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.content-section .content h3 {
    padding-top: 30px;
    margin-top: 20px;
    color: #fdfdfd;
    font-size: 21px;
}

.content-section .content p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.content-section .content .button {
    margin-top: 30px;
}

.content-section .content .button a {
    background-color: #7e7e7e;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.content-section .content .button a:hover {
    background-color: #00c542dc;
    color: #fff;
}

.content-section .social {
    margin: 40px 40px;
}

.content-section .social i {
    color: #00c542dc;
    font-size: 30px;
    padding: 0px 10px;
}

.content-section .social i:hover {
    color: #818181;
}