@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    background-image: -moz-element(bg-"earth.jpg");
    font-family:'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}