
h1{
   
    color:black; 
    font-size:80px;
   
}
p1{
    font-size:30px;
   color:white;
    background-color:rgb(46, 194, 46);
    position: absolute;
    left:3%;
}

p2{
    font-size:30px;
   color:white;
    background-color:rgb(46, 194, 46);
    position: absolute;
    left:3%;
}
p3{
    font-size:30px;
   color:white;
    background-color:rgb(46, 194, 46);
    position: absolute;
    left:3%;
}
p4{
    font-size:30px;
   color:white;
    background-color:rgb(46, 194, 46);
    position: absolute;
    left:3%;
}
p5{
    font-size:30px;
   color:white;
    background-color:rgb(46, 194, 46);
    position: absolute;
    left:3%;
}
p6{
    font-size:30px;
   color:white;
    background-color:rgb(46, 194, 46);
    position: absolute;
    left:3%;
}
p7{
    font-size:30px;
   color:white;
    background-color:rgb(46, 194, 46);
    position:absolute;
    top:30%;
    left:55%;
    
}
p8{
    font-size:30px;
   color:white;
    background-color:rgb(46, 194, 46);
    position: absolute;
    top:72%;
    left:55%;
}

p9{
    font-size:30px;
    color:white;
    background-color:rgb(46, 194, 46); 
    position:absolute;
    top:125%;
    left:55%;
}
p10{
    font-size:30px;
    color:white;
    background-color:rgb(46, 194, 46); 
    position:absolute;
    top:177%;
    left:55%;
}
p11{
    font-size:30px;
    color:white;
    background-color:rgb(46, 194, 46); 
    position:absolute;
    top:230%;
    left:55%;
}
p12{
    font-size:30px;
    color:white;
    background-color:rgb(46, 194, 46); 
    position:absolute;
    top:282%;
    left:55%;
}
