
body{
    background-color: rgba(255, 254, 221, 0.548);
}
*{
    margin:0;
    padding:0;
}
.container{
    position:absolute;
    left:3%;
    top:10%;
    
    border-bottom:20px solid rgb(19, 121, 33);
    line-height:75px;
  
    background:rgba(255, 254, 221, 0.548);
   overflow:hidden;
}
.container span{
    color:white;
    font-size:60px;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background:rgb(0, 92, 54);
    display:outline-block;
    padding:5px 50px;
    
}  
.container span:before{
   position:absolute;
   left:60%;
   content:"";
   width:100%;
   height:50%;
   background:rgb(19, 4, 4);
   z-index:-1;
   transform:rotate(45deg);
}

p.home a{
    font-weight:bold;
    color:black;
    position:absolute;
    left:80%;
    top:350%;
}

p.p1 a{
    font-size:30px;
   color:white;
    background-color:rgb(46, 194, 46);
    position: absolute;
    top:45%;
    left:3%;
}
p111{
    font-size:30px;
    position: absolute;
    top:50%;
    left:3%;
}
p1111{
    font-size:17px;
    position:absolute;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    top:63%;
    left:3%;
}
p.p2 a{
    font-size:30px;
   color:white;
    background-color:rgb(46, 194, 46);
    position: absolute;
    top:90%;
    left:3%;
}
p222{
    font-size:30px;
    position:absolute;
    top:95%;
    left:3%;
    
}
p2222{
    font-size:17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position:absolute;
    top:110%;
    left:3%
}
p.p3 a{
    font-size:30px;
   color:white;
    background-color:rgb(46, 194, 46);
    position: absolute;
    top:135%;
    left:3%;
}
p333{
    font-size:30px;
     position: absolute;
     top:140%;
     left:3%;
}
p3333{
    font-size:17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position:absolute;
    top:153%;
    left:3%;
}
p.p4 a{
    font-size:30px;
   color:white;
    background-color:rgb(46, 194, 46);
    position: absolute;
    TOP:180%;
    left:3%;
}
p444{
    font-size:30px;
    position:absolute;
    top:185%;
    left:3%;
}
p4444{
     font-size:17px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position: absolute;
     top:198%;
     left:3%;
}
p.p5 a{
    font-size:30px;
   color:white;
    background-color:rgb(46, 194, 46);
    position: absolute;
    top:225%;
    left:3%;
}
p555{
    font-size:30px;
    position: absolute;
    top:230%;
    left:3%;
}
p5555{
    font-size:17px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position: absolute;
     top:243%;
     left:3%;
}
p.p6 a{
    font-size:30px;
   color:white;
    background-color:rgb(46, 194, 46);
    position: absolute;
    top:275%;
    left:3%;
}
p666{
    font-size:30px;
    position:absolute;
    top:280%;
    left:3%
}
p6666{
    font-size:17px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position: absolute;
     top:294%;
     left:3%;
}
p.p7 a{
    font-size:30px;
   color:white;
    background-color:rgb(46, 194, 46);
    position:absolute;
    top:45%;
    left:55%;
    
}
p777{
    font-size:30px;
    position:absolute;
    top:50%;
    left:55%;

}
p7777{
    font-size:17px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position: absolute;
     top:63%;
     left:55%;
}
p.p8 a{
    font-size:30px;
   color:white;
    background-color:rgb(46, 194, 46);
    position: absolute;
    top:90%;
    left:55%;
}
p888{
    font-size:30px;
    position:absolute;
    top:95%;
    left:55%;
}
p8888{
    font-size:17px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position: absolute;
     top:110%;
     left:55%;
}
p.p9 a{
    font-size:30px;
    color:white;
    background-color:rgb(46, 194, 46); 
    position:absolute;
    top:135%;
    left:55%;
}
p999{
    font-size:30px;
    position:absolute;
    top:140%;
    left:55%;
}
p9999{
    font-size:17px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position: absolute;
     top:153%;
     left:55%;
}
p.p10 a{
    font-size:30px;
    color:white;
    background-color:rgb(46, 194, 46); 
    position:absolute;
    top:180%;
    left:55%;
}
p100{
    font-size:30px;
    position:absolute;
    top:185%;
    left:55%;
}
p1000{
    font-size:17px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position: absolute;
     top:198%;
     left:55%;
}
p.p11 a{
    font-size:30px;
    color:white;
    background-color:rgb(46, 194, 46); 
    position:absolute;
    top:225%;
    left:55%;
}

p110{
    font-size:30px;
    position:absolute;
    top:230%;
    left:55%;
}
p1100{
    font-size:17px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position: absolute;
     top:42%;
     left:1%;
}
p.p12 a{
    font-size:30px;
    color:white;
    background-color:rgb(46, 194, 46); 
    position:absolute;
    top:145%;
    left:2%;
}
p120{
    font-size:30px;
    position:absolute;
    top:165%;
    left:2%;
}
p11000{
    font-size:17px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position: absolute;
     top:203%;
     left:1%;
}