*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(176, 221, 233, 0.527),rgba(43, 13, 13, 0.459)),url(../Sample/img/as.jpg);
    background-position: center;
    background-size: cover;
}